<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.textpilot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name="app.textpilot.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="app.textpilot.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:exported="false"
            android:name="app.textpilot.SettingsActivity"
            android:label="@string/app_name" />

        <service
            android:exported="true"
            android:name="app.textpilot.applistener.AppListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>

        <activity
            android:name="app.textpilot.WelcomeActivity"
            android:label="Welcome Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="app.textpilot.AppSelectorActivity"
            android:label="Select Apps"
            android:parentActivityName="app.textpilot.SettingsActivity" />

        <activity
            android:name="app.textpilot.AboutActivity"
            android:label="About &amp; Support"
            android:theme="@style/AppTheme.NoActionBar" />


    </application>

</manifest>